<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Prediksi</title>
    <meta charset="UTF-8" />
    <title>Prediksi</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <!-- Bootstrap -->
    <link
      href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <!-- Icons -->
    <link
      href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      rel="stylesheet"
    />
    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700"
    />

    <meta charset="UTF-8" />
    <title>Prediksi Harga Bitcoin</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body class="home">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="navbar-brand active" href="/">Home</a>
          <a class="navbar-brand" href="/pred">Prediksi</a>
          <a class="navbar-brand" href="/about">About</a>
        </div>
        <style>
          body {
            background-image: url("static/background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
          }
        </style>
      </div>
    </nav>
    <br />
    <div class="container text-center">
      <h1>Keterangan</h1>
      <br />
      <h3>
        Dalam sistem prediksi harga Bitcoin ini nilai yang di prediksi adalah
        Price Close. Price Close merupakan harga terpenting dalam melakukan
        analisis teknikal. Karena, harga Close ini yang menentukan signal beli
        atau signal jual dalam berbagai indikator teknikal, dan pada akhirnya
        memicu orang untuk melakukan posisi beli atau posisi jual sebagai reaksi
        akhirnya.
      </h3>
      <br />
      <h3 align="left">
      Nilai yang dibutuhkan dalam sistem ini untuk melakukan prediksi : <br />
      1. Price Open : Harga open atau harga pembukaan adalah harga pertama kali
      transaksi dilakukan pada hari itu. <br />
      2. Price High dan Prcie Low : Harga high (tertinggi) dan harga low
      (terendah) merupakan kisaran harga pergerakan harian dari saham tersebut
      dimana pemodal memiliki keberanian atau rasionalitas untuk melakukan
      posisi beli atau posisi jual.
      <h3>
    </div>
    
  </body>
</html>
